@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

.login-box {
    width: 100%;
    min-height: 100vh;
    
  }
  
.bg-red{
  background-color: #ED7633;
}
  
.txt-red{
  color:#ED7633;
}
.txt-grey{
  color:#ABAFB3;
}
.logo-img{
width:10%;
height:10%;
}  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
